#root {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  font-family: "Roboto", serif;
}

.logo {
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 1em #00ffaaaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #09d72faa);
}



